In [6]:
import pandas as pd

In [53]:
path = "../data/raw/df03_Dataset_ENAPE.csv"
df = pd.read_csv(path)
df

,FOLIO,SEXO,EDAD,edu_inicial,inscrito,nivel_edu,terminado,nt_causa,asesorias,extraord,...,tv_plana,tablet,smartphone,InternetF,sIF_causa,mejora_vida,mejora_trabajo,mejor_decisor,ENT,FACTOR_y
0,2,1,13,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,24,809
1,2,2,19,0.0,1.0,9.0,1.0,0.0,1.0,2.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,24,809
2,7,2,8,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,2.0,1.0,1.0,0.0,2.0,2.0,3.0,22,722
3,7,1,26,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,1.0,1.0,0.0,2.0,2.0,3.0,22,722
4,9,1,27,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,26,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32338,22717,2,23,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,2.0,2.0,2.0,29,365
32339,22717,1,25,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,2.0,2.0,2.0,29,365
32340,22717,2,22,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,2.0,2.0,2.0,29,365
32341,22718,1,11,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,3.0,28,2292
32342,22718,1,24,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,3.0,28,2292

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32343 entries, 0 to 32342
Data columns (total 67 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FOLIO            32343 non-null  int64
 1   SEXO             32343 non-null  int64
 2   EDAD             32343 non-null  int64
 3   edu_inicial      32343 non-null  float64
 4   inscrito         32343 non-null  float64
 5   nivel_edu        32343 non-null  float64
 6   terminado        32343 non-null  float64
 7   nt_causa         32343 non-null  float64
 8   asesorias        32343 non-null  float64
 9   extraord         32343 non-null  float64
 10  recursado        32343 non-null  float64
 11  ev_tareas        32343 non-null  float64
 12  ev_exam          32343 non-null  float64
 13  ev_digital       32343 non-null  float64
 14  ev_partcp        32343 non-null  float64
 15  ev_libreta       32343 non-null  float64
 16  ev_asist         32343 non-null  float64
 17  ev_otro          32343 non-null  float64
 18  ev_nula          32343 non-null  float64
 19  inscrito_actual  32343 non-null  float64
 20  nins_causa       32343 non-null  float64
 21  entr_diagnost    32343 non-null  float64
 22  entr_induccion   32343 non-null  float64
 23  entr_regulariz   32343 non-null  float64
 24  m_impresos       32343 non-null  float64
 25  m_pizarra        32343 non-null  float64
 26  m_audio_vid      32343 non-null  float64
 27  m_expos          32343 non-null  float64
 28  m_otro           32343 non-null  float64
 29  med_plataform    32343 non-null  float64
 30  med_mail_RS      32343 non-null  float64
 31  med_clases_v     32343 non-null  float64
 32  med_presencial   32343 non-null  float64
 33  t_smartphone     32343 non-null  float64
 34  t_laptop         32343 non-null  float64
 35  t_PC             32343 non-null  float64
 36  t_tablet         32343 non-null  float64
 37  t_TV             32343 non-null  float64
 38  t_impresos       32343 non-null  float64
 39  t_mama           32343 non-null  float64
 40  t_papa           32343 non-null  float64
 41  t_fam_mujer      32343 non-null  float64
 42  t_fam_hombre     32343 non-null  float64
 43  t_o_mujer        32343 non-null  float64
 44  t_o_hombre       32343 non-null  float64
 45  t_horas          32343 non-null  float64
 46  max_nivel_esp    32343 non-null  float64
 47  estres           32343 non-null  float64
 48  depresion        32343 non-null  float64
 49  desespero        32343 non-null  float64
 50  antisocial       32343 non-null  float64
 51  q_personas       32343 non-null  int64
 52  q_hombres        32343 non-null  int64
 53  q_mujeres        32343 non-null  int64
 54  x<30             32343 non-null  int64
 55  pc               32343 non-null  float64
 56  laptop           32343 non-null  float64
 57  tv_plana         32343 non-null  float64
 58  tablet           32343 non-null  float64
 59  smartphone       32343 non-null  float64
 60  InternetF        32343 non-null  float64
 61  sIF_causa        32343 non-null  float64
 62  mejora_vida      32343 non-null  float64
 63  mejora_trabajo   32343 non-null  float64
 64  mejor_decisor    32343 non-null  float64
 65  ENT              32343 non-null  int64
 66  FACTOR_y         32343 non-null  int64
dtypes: float64(58), int64(9)
memory usage: 16.5 MB

In [36]:
df = df.drop(columns=["FOLIO", "x<30", "q_personas", "FACTOR_y"])

In [60]:
analValues = df[
    (df["nivel_edu"] == 4) & (df["EDAD"] >= 3) & (df["EDAD"] <= 17)
].groupby("t_mama")["t_mama"].count()
total = analValues.sum()
analValues = analValues.div(total) * 100

print(total)
analValues

Total de estudantes na amostra: 3452
População total ponderada (denominador): 5542782
População ponderada com ajuda da mãe (numerador): 2228495
Porcentagem ponderada de ajuda da mãe: 40.2%