In [2]:
import pandas as pd
import numpy as np
import pingouin as pg

In [3]:
path = "../data/raw/df03_Dataset_ENAPE.csv"
dfRaw = pd.read_csv(path)
dfRaw

,FOLIO,SEXO,EDAD,edu_inicial,inscrito,nivel_edu,terminado,nt_causa,asesorias,extraord,...,tv_plana,tablet,smartphone,InternetF,sIF_causa,mejora_vida,mejora_trabajo,mejor_decisor,ENT,FACTOR_y
0,2,1,13,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,24,809
1,2,2,19,0.0,1.0,9.0,1.0,0.0,1.0,2.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,24,809
2,7,2,8,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,2.0,1.0,1.0,0.0,2.0,2.0,3.0,22,722
3,7,1,26,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,1.0,1.0,0.0,2.0,2.0,3.0,22,722
4,9,1,27,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,26,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32338,22717,2,23,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,2.0,2.0,2.0,29,365
32339,22717,1,25,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,2.0,2.0,2.0,29,365
32340,22717,2,22,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,2.0,2.0,2.0,29,365
32341,22718,1,11,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,3.0,28,2292
32342,22718,1,24,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,3.0,28,2292

In [5]:
dfRaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32343 entries, 0 to 32342
Data columns (total 67 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FOLIO            32343 non-null  int64
 1   SEXO             32343 non-null  int64
 2   EDAD             32343 non-null  int64
 3   edu_inicial      32343 non-null  float64
 4   inscrito         32343 non-null  float64
 5   nivel_edu        32343 non-null  float64
 6   terminado        32343 non-null  float64
 7   nt_causa         32343 non-null  float64
 8   asesorias        32343 non-null  float64
 9   extraord         32343 non-null  float64
 10  recursado        32343 non-null  float64
 11  ev_tareas        32343 non-null  float64
 12  ev_exam          32343 non-null  float64
 13  ev_digital       32343 non-null  float64
 14  ev_partcp        32343 non-null  float64
 15  ev_libreta       32343 non-null  float64
 16  ev_asist         32343 non-null  float64
 17  ev_otro          32343 non-null  float64
 18  ev_nula          32343 non-null  float64
 19  inscrito_actual  32343 non-null  float64
 20  nins_causa       32343 non-null  float64
 21  entr_diagnost    32343 non-null  float64
 22  entr_induccion   32343 non-null  float64
 23  entr_regulariz   32343 non-null  float64
 24  m_impresos       32343 non-null  float64
 25  m_pizarra        32343 non-null  float64
 26  m_audio_vid      32343 non-null  float64
 27  m_expos          32343 non-null  float64
 28  m_otro           32343 non-null  float64
 29  med_plataform    32343 non-null  float64
 30  med_mail_RS      32343 non-null  float64
 31  med_clases_v     32343 non-null  float64
 32  med_presencial   32343 non-null  float64
 33  t_smartphone     32343 non-null  float64
 34  t_laptop         32343 non-null  float64
 35  t_PC             32343 non-null  float64
 36  t_tablet         32343 non-null  float64
 37  t_TV             32343 non-null  float64
 38  t_impresos       32343 non-null  float64
 39  t_mama           32343 non-null  float64
 40  t_papa           32343 non-null  float64
 41  t_fam_mujer      32343 non-null  float64
 42  t_fam_hombre     32343 non-null  float64
 43  t_o_mujer        32343 non-null  float64
 44  t_o_hombre       32343 non-null  float64
 45  t_horas          32343 non-null  float64
 46  max_nivel_esp    32343 non-null  float64
 47  estres           32343 non-null  float64
 48  depresion        32343 non-null  float64
 49  desespero        32343 non-null  float64
 50  antisocial       32343 non-null  float64
 51  q_personas       32343 non-null  int64
 52  q_hombres        32343 non-null  int64
 53  q_mujeres        32343 non-null  int64
 54  x<30             32343 non-null  int64
 55  pc               32343 non-null  float64
 56  laptop           32343 non-null  float64
 57  tv_plana         32343 non-null  float64
 58  tablet           32343 non-null  float64
 59  smartphone       32343 non-null  float64
 60  InternetF        32343 non-null  float64
 61  sIF_causa        32343 non-null  float64
 62  mejora_vida      32343 non-null  float64
 63  mejora_trabajo   32343 non-null  float64
 64  mejor_decisor    32343 non-null  float64
 65  ENT              32343 non-null  int64
 66  FACTOR_y         32343 non-null  int64
dtypes: float64(58), int64(9)
memory usage: 16.5 MB

In [6]:
df = dfRaw[(dfRaw["EDAD"] >= 6) & (dfRaw["EDAD"] <= 18)]
df

,FOLIO,SEXO,EDAD,edu_inicial,inscrito,nivel_edu,terminado,nt_causa,asesorias,extraord,...,tv_plana,tablet,smartphone,InternetF,sIF_causa,mejora_vida,mejora_trabajo,mejor_decisor,ENT,FACTOR_y
0,2,1,13,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,24,809
2,7,2,8,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,2.0,1.0,1.0,0.0,2.0,2.0,3.0,22,722
7,14,1,11,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,2.0,2.0,1.0,18,413
10,15,2,13,0.0,1.0,4.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,1.0,18,322
13,21,1,8,0.0,1.0,3.0,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,26,945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32314,22700,1,6,0.0,1.0,2.0,1.0,0.0,0.0,0.0,...,1.0,2.0,1.0,1.0,0.0,3.0,2.0,3.0,6,389
32323,22707,1,8,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,9,4449
32329,22712,1,18,0.0,1.0,6.0,1.0,0.0,1.0,2.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,16,937
32331,22714,2,15,0.0,1.0,4.0,1.0,0.0,2.0,2.0,...,1.0,2.0,1.0,1.0,0.0,1.0,1.0,1.0,21,2035
32341,22718,1,11,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,3.0,28,2292

In [7]:
#mappings 9 to np.nan;

exceptions = ["nivel_edu", "EDAD", "nt_causa", "nins_causa", "q_hombres", "q_mujeres", "mejora_vida", "mejora_trabajo", "mejor_decisor"]

for i in df.columns:
    if i not in exceptions:
        df.loc[df[i] == 9, i] = 0

In [8]:
compareColumn = set(np.array([0,1,2]))
print(compareColumn)

for i in df.columns:
    unique_values = set(df[i].values.astype(float))
    #unique_values = unique_values.astype(int)
    if unique_values.issubset(compareColumn):
        print(i)
        df.loc[df[i] == 0, i] = np.nan
        df.loc[df[i] == 2, i] = 0
    if 99 in unique_values or 98 in unique_values:
        df.loc[df[i] == 99, i] = np.nan
        df.loc[df[i] == 98, i] = np.nan

{np.int64(0), np.int64(1), np.int64(2)}
SEXO
edu_inicial
inscrito
terminado
asesorias
extraord
recursado
ev_tareas
ev_exam
ev_digital
ev_partcp
ev_libreta
ev_asist
ev_otro
ev_nula
inscrito_actual
entr_diagnost
entr_induccion
entr_regulariz
m_impresos
m_pizarra
m_audio_vid
m_expos
m_otro
med_plataform
med_mail_RS
med_clases_v
med_presencial
t_smartphone
t_laptop
t_PC
t_tablet
t_TV
t_impresos
t_mama
t_papa
t_fam_mujer
t_fam_hombre
t_o_mujer
t_o_hombre
estres
depresion
desespero
antisocial
x<30
pc
laptop
tv_plana
tablet
smartphone
InternetF

In [9]:
# df.loc[df["t_horas"] == 0, "t_horas"] = np.nan

In [10]:
# melhorando semantica das variaveis mejora_vida, mejora_trabajo, mejor_decisor
columnsToMap = ["mejora_vida", "mejora_trabajo", "mejor_decisor"]

mapping = {
    9: 0,
    4:-2,
    3:-1,
    2:1,
    1:2
}

for i in columnsToMap:
    if 9 in df[i].unique():
        df.loc[:, i] = df[i].map(mapping).astype("float")

In [78]:
## df.to_csv("../data/processed/df_cleaned.csv", index=False)